html{
   height: 100%;
   width: 100%;
   scroll-behavior: smooth;
}

body{
   width: 100%;
}

.main{
   margin-top: 30px;
   padding-top: 2px;
   padding-bottom: 2px;
   background-color: whitesmoke;
}

.product{
   width: 90%;
   margin: 20px auto;
}

.address, .subscribe{
   width: 80%;
   margin: auto;
   margin-top: 20px;
}

.subscribe-form{
   width: 50%;
   margin: auto;
   margin-top: 20px;
}

.footer{
   background-color: whitesmoke;
}



/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   html{
      font-size: 80%;
   }

   .logo-img{
      width: 70vw;
   }

   .product-detail{
      width: 50vw;   
   }
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
   html{
      font-size: 80%;
   }
   
   .logo-img{
      width: 50vw;
   }

   .product-detail{
      width: 50vw;   
   }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
   html{
      font-size: 100%;
   }
   
   .logo-img{
      width: 50vw;
   }

   .product-detail{
      width: 50vw;   
   }
 } 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
   html{
      font-size: 100%;
   }
   
   .logo-img{
      width: 30vw;
   }

   .product-detail{
      width: 50vw;   
   }
 } 
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
   html{
      font-size: 100%;
   }
   
   .logo-img{
      width: 25vw;
   }

   .product-detail{
      width: 50vw;   
   }
 }