:root {
  --yellow-color:#f3a446;
  --brown-color:#a06235;
  --black-color:#141313;
  --black-lighter-color:#1d1d1d;
  --white-color:#efefef;
}

/* TEXT COLOR */
.Yellow-color{
  color: var(--yellow-color);
}
.Brown-color{
  color: var(--brown-color);
}
.Black-color{
  color: var(--black-color);
}
.Black-lighter-color{
  color: var(--black-lighter-color-color);
}
.White-color{
  color: var(--white-color);
}

body, html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

img{
  /* position: relative; */
  border-radius: 50%;
  width: 50%;
}

#root{
  background-image: url('../../public/assets/black-bg.jpg');
  background-position: center;
  background-repeat: repeat-y;
}

.Header{
  background-image: url('../../public/assets/bakery.png') !important;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  left: 0;
  background-size:contain;
}

a{
  text-decoration: none;
  color: var(--white-color);
}

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--black-lighter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.Nav-link, .Nav-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
