/* HEADER CONTENT */
.Content-header{
   display: flex;
   align-items: center;
   text-align: center;
   width: 90%;
   margin: auto;
}

.Content-header div{
   flex: 1; /*ratio 1:1*/
}

.Content-info, .Content-cart{
   display: flex;
   align-items: center;
   justify-content: right;
   text-align: right;
}

.Content-header-left a, .Content-header-left p{
   display: block;
   text-align: left;
}

.Content-header-center{
}



/* BODY CONTENT */
.Content-body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   text-align: center;
   width: 95%;
}

.Content-body-card {
   justify-content: center;
   gap: 10px;
   background-color: var(--black-lighter-color);
   color: var(--white-color);
   width: 24%;
   margin: 2px 1.5px 2px 1.5px;
   padding: 30px 0;
   border-radius: 15px;
}

.Display-flex {
   display: flex;
   justify-content: space-between;
   margin: 0 18%;
}

.Left-sided{
   text-align: start;
   align-items: center;
}

img{
   position: relative;
   border-radius: 50%;
   width: 50%;
}