.Content{
   padding-bottom: 30px;
}

/* HEADER CONTENT */
.Content-header{
   display: flex;
   align-items: center;
   text-align: center;
   margin: auto;
   padding: 20px 0;
}

.Content-header div{
   flex: 1; /*ratio 1:1*/
   width: 33%;
}

.Content-info{
   display: flex;
   align-items: center;
   justify-content: right;
   text-align: right;
}

.Content-header-left p{
   margin: 0;   
}

.Content-header-left, .Content-header-left button{
   display: block;
   text-align: left;
   margin: 2px 0;
}
.Content-header-right{
   display: flex;
}

/* BODY CONTENT */
.Content-body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   text-align: center;
   width: 95%;
}

.Content-body-card {
   justify-content: center;
   gap: 10px;
   background-color: var(--black-lighter-color);
   color: var(--white-color);
   margin: 2px 1.5px 2px 1.5px;
   padding: 30px 0 30px 0;
   border-radius: 15px;
}

.Display-flex {
   display: flex;
   justify-content: space-between;
   margin: 0 18%;
}

.Left-sided{
   text-align: start;
   align-items: center;
}

.Center-sided{
   text-align: center;
   align-items: center;
}

.Price p{
   margin: 0;
   padding: 0;
   margin-bottom: 20px;
}

.Add-to-cart{
   background-color: var(--yellow-color);
   height: 30px;
   padding: 3px 10px;
   border-radius: 5px;
}